@import url('http://fonts.cdnfonts.com/css/geometria');

*{
  margin: 0;
  padding: 0;
}
*, *:after, *:before{
  box-sizing: inherit;
}

html{
  --body-fon-color:rgba(255, 161, 161, 1);
  --wrapper-fon-color: #f5a9a9;
  --tablo-fon-color:#28518E;
  --calculator-fon-color: linear-gradient(#28518E, #3A77D1);
  --button-hover-color:#4b7bc1;
  --text-color:#FFFFFF;
  box-sizing: border-box;
}

body{
  font-family: 'Geometria', sans-serif;
  background-color: var(--body-fon-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input{
  outline: none;
  border: none;
  outline-offset: 0;
}

@media (max-width: 500px) {
  .display {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}


